<!DOCTYPE HTML>
<!--
Linear by TEMPLATED
templated.co @templatedco
Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
	<title>Silke van Rooij</title>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="description" content="Personal website of Silke van Rooij" />
	<meta name="keywords" content="" />
	<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link href='https://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href="https://file.myfontastic.com/Qgz3rzfocBSP6tjBdiHqmX/icons.css" rel="stylesheet">
	<script src="/assets/js/skel.min.js"></script>
	<script src="/assets/js/skel-panels.min.js"></script>
	<script src="/assets/js/init.js"></script>
	<noscript>
		<link rel="stylesheet" href="/assets/css/skel-noscript.css" />
		<link rel="stylesheet" href="/assets/css/style.css" />
		<link rel="stylesheet" href="/assets/css/style-desktop.css" />
	</noscript>
</head>
<body>

	<!-- Header -->
	<div id="header">
		{% include nav.html %}
			<div class="container">

				<!-- Logo -->
				<div id="logo">
					<img src="/assets/images/squest_logo.png" alt="squest logo">
					<h1><a href="#">Silke van Rooij</a></h1>
					<span class="tag">Dutch tech entrepreneur currently working in Fintech.</span>
				</div>
			</div>
	</div>
	<!-- Header -->


	{{ content }}

	<!-- Footer -->
	<div id="footer">
		<div class="container">
			<section>
				<header>
					<h3>Get in touch</h3>
					<span class="byline">Need help or have a question? Please contact me and let's start a conversation.</span>
				</header>
				<ul class="contact">
					<li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
					<li class="active"><a href="#" class="fa fa-github-alt"><span>Github</span></a></li>
					<li><a href="#" class="fa fa-skype"><span>Skype</span></a></li>
				</ul>
			</section>
		</div>
	</div>

</body>
</html>
